<div class="ui-g">
    <img class="logo" src="../../assets/img/imagens-logo/logo-branco.png" >
    <div class="login">
        <img class="usuario" src="../../assets/img/imagens-user/user.png" width="100" height="100" >
        <h1>Login</h1>
        <form autocomplete="off" #f="ngForm">
            <div id="input-login">
                 <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                 <input pInputText type="text" name="login" placeholder="Insira seu nome de usuário" >
            </div>
            <div id="input-senha">
                 <!-- <i class="fa fa-lock" aria-hidden="true"></i> -->
            <input pInputText type="password" name="senha" placeholder="Insira sua senha" >
            </div>
            <div>
                 <input pInputText type="submit" name="entrar" value="Entrar" />
            </div>
        </form>
    </div>
    
</div>
